{% load i18n %}

{% verbatim %}
<div class="row resourcebase-snippet">

	<div class="col-md-12 col-sm-12 col-xs-12 icons-snippet">
		<div ng-if="results.length == 0" ng-cloak>
			{% endverbatim %}
			<div><h2 class="h3">{% trans "No content created yet." %}</h2></div>
			{% verbatim %}
		</div>
	</div>	


	<article ng-repeat="group in results" resource_id="{{ group.id }}" ng-cloak class="ng-cloak">

		<div class="col-md-12 col-sm-12 col-xs-12 item-container _group-container">

			<div class="col-md-12 col-sm-12 col-xs-12 profile-avatar">

				<div 
					style="background-image: url('{{ group.group_profile.logo  || '/static/img/img_placeholder.jpg'  }}');" 
					class="col-md-4 col-sm-4 col-xs-12 item-thumb">
					<a href="{{ group.group_profile.detail_url }}" 
						title="{% endverbatim %}{% trans 'View group'%}{% verbatim %} {{ group.group_profile.title }}"> 
					</a>
				</div>

				<div class="col-md-8 col-sm-8 col-xs-12 item-details">
				
					<h3 class="item-detail-title">
						<a href="{{ group.group_profile.detail_url }}">
							{{ group.group_profile.title }}
						</a>
					</h3>

					<p class="abstract">
						{{ group.group_profile.description | limitTo: 300 }}
						{{ group.group_profile.description.length  > 300 ? '...' : ''}}
					</p>

					<ul class="list-unstyled icons-snippet-item" style="margin-top: 10px;;">
						<li style="margin-bottom: 5px;">
							<strong>{{ group.group_profile.member_count }}</strong>
							<ng-pluralize count="group.group_profile.member_count"
								when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
						</li>
						<li style="margin-bottom: 5px;">
							<strong>{{ group.group_profile.manager_count }}</strong>
							<ng-pluralize count="group.group_profile.manager_count"
								when="{'1': 'Manager', 'other': 'Managers'}"></ng-pluralize>
						</li>						
					</ul>
					

			
				</div>
			</div>
		</div>

		
	</article>
</div>
{% endverbatim %}