{% load i18n %}
{% verbatim %}


<div class="row resourcebase-snippet">

	<div class="col-md-12 col-sm-12 col-xs-12 icons-snippet">
		<div ng-if="results.length == 0" ng-cloak>
			{% endverbatim %}
			<div><h2 class="h3">{% trans "No content created yet." %}</h2></div>
			{% verbatim %}
		</div>
	</div>	

	<article ng-repeat="groupcategory in results" ng-cloak class="ng-cloak"> 
		<div class="col-md-6 col-sm-12 col-xs-12 item-container ">

			
			
			<div class="col-md-12 col-sm-12 col-xs-12 profile-avatar">

				<div 
					style="background-image: url('/static/img/img_placeholder.jpg');" 
					class="col-md-4 col-sm-4 col-xs-12 item-thumb">
					<a href="{{ groupcategory.detail_url  }}" 
						title="{% endverbatim %}{% trans 'View group category '%}{% verbatim %} {{ groupcategory.name }}"> 						
					</a>
				</div>
				

				<div class="col-md-8 col-sm-8 col-xs-12 item-details">
				
					<h3 class="item-detail-title">
						<a href="{{ groupcategory.detail_url  }}">
							{{ groupcategory.name }}
						</a>
					</h3>

					<p>
						<small ng-hide="groupcategory.description">
							{% endverbatim %}
							{% trans "No Description" %}
							{% verbatim %}
						</small>
						<small ng-show="groupcategory.description">
							{{ groupcategory.description | limitTo:30 }} <small
								ng-if="groupcategory.description.length > 30">...</small>
						</small>
					</p>

					<ul class="list-unstyled icons-snippet-item" style="margin-top: 10px;;">
						<li style="margin-bottom: 5px;">
							<strong>{{ groupcategory.member_count }}</strong>
								<ng-pluralize count="groupcategory.member_count"
									when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
						</li>
					</ul>
					
					
					{% endverbatim %}
					{%comment%}
					{% if request.user.is_staff or request.user.is_superuser  %}
					<!-- <a class="btn btn-info" 
						href="{% url "group_category_update" groupcategory.slug %}">
						{% trans "Edit Group Category Details" %}</a>					 -->
					{% endif %}
					{%endcomment%}
					{% verbatim %}
					
				</div>
			</div>
		</div>

		<div ng-if="$index + 1 % 2 == 0" class="col-md-12 col-sm-12 col-xs-12"></div>
	</article>

</div>
{% endverbatim %}