{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block body_outer %}



<div class="container">



  	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<small><a class="btn-dark-light-link breadcrumb-title" href="{{user.get_absolute_url}}">{{ user.name_long  }}</a> /</small>
				<h1 class="page-title">{% trans "Password Change" %}</h1>
			</div>        
		</div>
  	</div>

  
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <h2 class="h-label h3">{% trans "Change your password here" %}</h2>


			<div style="margin-bottom: 25px;;"></div>

    <form method="POST" action="">
      <fieldset>
      {% csrf_token %}
      {{ form|as_bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-info">{% trans "Change my password" %}</button>
        </div>
      </fieldset>
    </form>
        </div>
    </div>
</div>

<div style="margin-top: 50px;"></div>


{% endblock %}
