
{% load i18n %} 

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>

<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="{% trans "BRACKETS" %}"
        data-code="[]"
        data-text="()"
        class="btn-sm btn btn-dark-link btn-block bracket_btn expression_obj">
        <strong>( </strong>
        <span class="text-light">{% trans "BRACKETS" %}</span>
        <strong> )</strong>
    </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>

<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="MAX"
        data-code="[]"
        data-text="max()"
        class="btn-sm btn btn-dark-link btn-block function_btn expression_obj">
        <span class="">MAX</span><strong>( )</strong>
        
    </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>

<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="MIN"
        data-code="[]"
        data-text="min()"
        class="btn-sm btn btn-dark-link btn-block function_btn expression_obj">
        <span class="">MIN</span><strong>( )</strong>
        
    </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>
<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="AVG"
        data-code="[]"
        data-text="avg()"
        class="btn-sm btn btn-dark-link btn-block function_btn expression_obj">
        <span class="">AVG</span><strong>( )</strong>
        
    </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>

<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="RESIZE"
        data-code="[]"
        data-text="resize()"
        class="btn-sm btn btn-dark-link btn-block function_btn expression_obj">
        <span class="">RESIZE</span><strong>( )</strong>
        
    </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>

<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="LOG"
        data-code="[]"
        data-text="log()"
        class="btn-sm btn btn-dark-link btn-block function_btn expression_obj">
        <span class="">LOG</span><strong>( )</strong>
        
    </a>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;"></div>

<div class="col-md-12 col-sm-12 col-xs-12 grid-view no-gutter">
    <a 
        href="#"
        data-name="{% trans "NUMBER" %}"
        data-code="0.0"
        data-text="0.0"
        class="btn-sm btn btn-dark-link btn-block number_btn expression_obj">
        <strong></strong>
        <span class="">{% trans "NUMBER" %}</span>
    </a>
</div>