
{% load i18n %} 



    <h2 class="h5 text-light ml-15" style="display: inline-block;">        
        {% trans "Number:" %}&nbsp;
    </h2>


    
    <a 
        href="#"
        data-name="{% trans "NUMBER" %}"
        data-tpl="#tpl_number"
        data-type="number"
        data-obj="obj_number"
        title="{% trans 'Description NUMBER'%}"
        data-original-title="{% trans 'Description NUMBER'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-code="+"
        data-text="0.0"
        class="btn-sm btn btn-dark-link_  btn-info  number_btn expression_obj">
        <strong></strong>
        <span class="">0.0</span>
    </a>




    <h2 class="h5 text-light ml-15" style="display: inline-block;">
        {% trans "Functions: " %} &nbsp;
    </h2>


    <a 
        href="#"
        data-name="{% trans "BRACKETS" %}"
        data-tpl="#tpl_brackets"
        data-type="brackets"
        data-obj="obj_brackets"
        title="{% trans 'Description BRACKETS'%}"
        data-original-title="{% trans 'Description BRACKETS'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        class="btn-sm btn btn-dark-link_  btn-info  bracket_btn expression_obj">
        <strong>( </strong>
        <span class="text-light">{% trans "BRACKETS" %}</span>
        <strong> )</strong>
    </a>
 <a 
        href="#"
        data-name="MAX"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-text=""
        data-has-params="false"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">MAX</span><strong>( )</strong>
        
    </a>



    <a 
        href="#"
        data-name="MIN"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-text=""
        data-has-params="false"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">MIN</span><strong>( )</strong>
        
    </a>

    <a 
        href="#"
        data-name="AVG"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-text=""
        data-has-params="false"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">AVG</span><strong>( )</strong>
        
    </a>

    
    <a 
        href="#"
        data-name="LOG"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-text=""
        data-has-params="false"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">LOG</span><strong>( )</strong>
        
    </a>
    
    
    <a 
        href="#"
        data-name="RESIZE"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-has-params="true"
        data-text="0.0"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">RESIZE</span><strong>( )</strong>
        
    </a>
    
    
    <a 
        href="#"
        data-name="MASK_LESS"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-has-params="true"
        data-text="0.0"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">MASK_LESS</span><strong>( )</strong>
        
    </a>
    
    
    <a 
        href="#"
        data-name="MASK_GREAT"
        data-tpl="#tpl_functions"
        data-type="functions"
        data-obj="obj_functions"
        title="{% trans 'Description Function'%}"
        data-original-title="{% trans 'Description Function'%}"
        data-toggle="tooltip"
        data-placement="bottom"
        data-has-params="true"
        data-text="0.0"
        class="btn-sm btn btn-dark-link_  btn-info  function_btn expression_obj">
        <span class="">MASK_GREAT</span><strong>( )</strong>
        
    </a>
    
