{% extends "tools_r/tools_r_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Remove Tools R 1.8' %} — {{ block.super }}{% endblock %}

{% block body_outer %}
<div class="container">
	<div class="page-header">
		

			<small><a class="btn-dark-light-link breadcrumb-title" 
				href="{% url "tools_r_1_8_list" %}">{{ tools_r.label }}</a> /</small>

		<h1 class="page-title">{% trans "Remove Tools R 1.8" %}</h1>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p class="lead">

				{% trans "Are you sure you want to remove" %} <strong>{{ tools_r.label }}</strong> ?

			</p>
			
			<form action="{% url "tools_r_1_8_remove" tools_r.id %}" method="POST">
				{% csrf_token %}
				<input type="hidden" value="{{ tools_r.id }}" />
				<div class="form-actions">
					<input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
					<a href="{% url "tools_r_1_8_list" %}" class="btn btn-default">{% trans "No, don't remove it" %}</a>
				</div>
			</form>
		</div>
		
	</div>
	<div class="row" style="margin-top: 50px;"></div>
</div>
{% endblock %}